@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    color: #ffffff;
  }
}
.page-header__logo {
  text-align: center;
  order: 2;
  display: block;
  padding: 0 47px;
  background-color: #000;
}
@media (min-width: 768px) {
  .page-header__logo {
    height: 400px;
    background-color: #000000;
    background-image: url("../img/back/back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% -9px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: 50% 0;
    background-size: cover;
  }
}
.page-header__logo img {
  width: 226px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo img {
    margin-top: 57px;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list a {
  color: #ffffff;
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 51px;
  background-color: #826550;
}
@media (min-width: 768px) {
  .main-nav {
    background-color: #000000;
    order: 1;
  }
}
.social__icon {
  fill: #FFFFFF;
  overflow: visible;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
.site-list {
  font-weight: bold;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
}
.site-list__item a {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
@media (min-width: 768px) {
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background-color: #000000;
    border: none;
  }
}
@media (min-width: 1200px) {
  .site-list__item a:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .site-list__item a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px;
  }
}
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
  }
  .user-list__login span {
    position: absolute;
    opacity: 0;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #826550;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:active .user-list__login-icon polygon {
    fill: #ffffff;
  }
}
@media (min-width: 1200px) {
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  .user-list__login span {
    position: static;
    opacity: 1;
  }
  .user-list__login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #000000;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.1;
  }
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}
@media (min-width: 768px) {
  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
}
@media (min-width: 1200px) {
  .user-list__login-icon {
    left: 15px;
  }
}
.stats {
  background-color: #292929;
}
@media (min-width: 768px) {
  .stats {
    background-color: #353535;
  }
}
@media (min-width: 768px) {
  .stats__wrapper {
    padding: 0 64px;
    position: relative;
    top: -179px;
    margin-bottom: -179px;
  }
}
@media (min-width: 1200px) {
  .stats__wrapper {
    top: -159px;
    margin: auto;
    margin-bottom: -159px;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.stats__header {
  padding: 28px 13px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .stats__header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: 640px;
    margin: 0 auto;
    padding: 28px 0 24px 0;
  }
  .stats__header::before {
    position: absolute;
    left: -23px;
    top: 42px;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpolygon points='0,0 1,0 1,1' fill='white'/%3E%3C/svg%3E");
    content: "";
  }
}
@media (min-width: 1200px) {
  .stats__header {
    flex-direction: column;
    max-width: 320px;
  }
}
.stats__slogan {
  margin: 0;
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .stats__slogan {
    width: 286px;
    padding-left: 34px;
    margin: 6px 0 0 0 ;
    text-transform: none;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
}
.stats__intro {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
@media (min-width: 768px) {
  .stats__intro {
    width: 202px;
    padding: 8px  0 0 35px;
    text-align: left;
  }
}
.stats__legend {
  display: inline-block;
  padding: 0 37px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #4E4E4E;
}
.stats__legend--top {
  display: none;
}
.stats__legend--bottom {
  display: block;
}
@media (min-width: 768px) {
  .stats__legend {
    display: none;
  }
  .stats__legend--top {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding-top: 24px;
    color: #E5DDD5;
  }
}
.stats__list {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}
@media (min-width: 768px) {
  .stats__list {
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.stats__item {
  display: flex;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #FFFFFF;
  justify-content: space-between;
}
.stats__item:nth-child(2n) {
  background: #4E4E4E;
}
@media (min-width: 768px) {
  .stats__item {
    width: 286px;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 34px;
    padding-bottom: 0;
    background-color: #353535;
  }
  .stats__item:nth-child(1) {
    background: rgba(255, 255, 255, 0.05);
  }
  .stats__item:nth-child(3n+4) {
    background: rgba(255, 255, 255, 0.05);
  }
}
.stats__description {
  padding-right: 20px;
  margin: 0;
  text-align: right;
  font-size: 18px;
  line-height: 18px;
  align-self: center;
}
@media (min-width: 768px) {
  .stats__description {
    padding-right: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: justify;
    align-self: flex-start;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .stats__description br {
    display: none;
  }
}
.stats__number {
  padding-left: 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .stats__number {
    font-size: 72px;
    line-height: 72px;
    padding-left: 6px;
    padding-bottom: 13px;
    align-self: flex-start;
  }
}
.advantages {
  background-color: #292929;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .advantages {
    background-color: #353535;
  }
}
.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 640px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 920px;
  }
}
.advantages__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantages__list {
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    flex-direction: row;
    margin-top: 73px;
    padding-bottom: 110px;
  }
}
.advantages__item {
  position: relative;
  justify-self: center;
}
.advantages__item--fast::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/svg/1.svg");
  width: 95px;
  height: 94px;
  top: 10%;
  left: 33%;
}
@media (min-width: 768px) {
  .advantages__item--fast::before {
    top: 30%;
    left: 5%;
  }
}
@media (min-width: 1200px) {
  .advantages__item--fast::before {
    top: 20px;
    left: 105px;
  }
}
.advantages__item--cool::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/svg/2.svg");
  width: 95px;
  height: 94px;
  top: 10%;
  left: 33%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__item--cool::before {
    top: 46px;
    left: 5%;
  }
}
@media (min-width: 1200px) {
  .advantages__item--cool::before {
    top: 20px;
    left: 105px;
  }
}
.advantages__item--price::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/svg/3.svg");
  width: 95px;
  height: 91px;
  top: 10%;
  left: 33%;
}
@media (min-width: 768px) {
  .advantages__item--price::before {
    top: 40px;
    left: 5%;
  }
}
@media (min-width: 1200px) {
  .advantages__item--price::before {
    top: 20px;
    left: 105px;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    padding-left: 159px;
    padding-right: 30px;
    border-bottom: 1px solid #4E4E4E;
  }
  .advantages__item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    width: 320px;
    align-items: center;
    padding: 0;
    padding-top: 158px;
    border-bottom: none;
    border-right: 1px solid #4E4E4E;
  }
  .advantages__item:last-child {
    border-right: none;
  }
}
.advantages__title {
  display: block;
  align-self: center;
  padding-top: 165px;
  margin: 0;
  position: relative;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__title {
    padding-top: 42px;
    padding-bottom: 12px;
    text-align: left;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    padding-bottom: 16px;
    padding-top: 0;
    text-align: center;
  }
}
.advantages__description {
  align-self: center;
  padding: 12px 20px 30px 20px;
  margin: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__description {
    padding: 0;
    text-align: left;
    padding-bottom: 39px;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    padding-bottom: 16px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .advantages__description br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__description br {
    display: block;
  }
}
.news {
  background-color: #F8F5F2;
}
.news__wrapper {
  padding: 0 20px 28px 20px;
}
@media (min-width: 768px) {
  .news__wrapper {
    padding-top: 51px;
    padding-bottom: 35px;
    width: 640px;
    margin: 0 auto;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .news__wrapper {
    width: 960px;
    padding-top: 64px;
    padding-bottom: 42px;
  }
}
.news__title {
  margin: 0;
  padding: 34px 0 11px 0;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .news__title {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .news__title {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .news__list {
    display: flex;
  }
}
.news__item {
  padding-top: 16px;
  display: flex;
  border-bottom: 1px solid #E5DDD5;
}
.news__item:last-child {
  display: none;
}
@media (min-width: 768px) {
  .news__item {
    margin-right: 20px;
    padding-top: 46px;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .news__item {
    padding-top: 56px;
  }
  .news__item:last-child {
    display: block;
    display: flex;
  }
}
.news__item:last-child {
  border: none;
}
.news__text {
  padding: 0 0 18px 50px;
  margin: 0;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}
@media (min-width: 768px) {
  .news__text {
    padding: 0 0 0 20px;
  }
}
.news__text:hover {
  text-decoration: underline;
  color: #826550;
}
.news__date {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}
.news__cover {
  position: absolute;
  z-index: 0;
  fill: #000;
}
.news__cover:hover {
  fill: none;
  fill: #826550;
}
.news__day {
  width: 50px;
  align-self: center;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.news__date span {
  z-index: 1;
}
.reviews {
  background-color: #F8F5F2;
}
@media (min-width: 768px) {
  .reviews {
    border-top: 1px solid #E5DDD5;
  }
}
.reviews__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    width: 640px;
    margin: 0 auto;
    padding-bottom: 31px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .reviews__list {
    border: 1px solid #E5DDD5;
    display: flex;
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .reviews__list {
    width: 960px;
    border: none;
  }
}
.reviews__title {
  display: block;
  margin: 0 auto;
  padding: 27px 20px;
  padding: 27px 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #E5DDD5;
}
@media (min-width: 768px) {
  .reviews__title {
    padding: 44px 0 48px 0;
    margin-right: 258px;
    font-size: 40px;
    text-align: left;
    border-top: none;
  }
}
@media (min-width: 1200px) {
  .reviews__title {
    margin-right: 575px;
    padding-bottom: 55px;
  }
}
.reviews__item-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  min-height: 172px;
}
@media (min-width: 768px) {
  .reviews__item-wrapper {
    width: 550px;
    padding-bottom: 40px;
    min-height: 124px;
  }
}
@media (min-width: 1200px) {
  .reviews__item-wrapper {
    margin: 0 21px;
    min-height: none;
    width: 818px;
    border: 1px solid #E5DDD5;
    padding: 0;
    position: relative;
  }
}
.slider-review__item {
  margin: 0;
  padding: 0;
}
.reviews__author-pic {
  display: block;
  width: 50px;
  height: 50px;
  align-self: flex-start;
  justify-self: center;
}
@media (min-width: 768px) {
  .reviews__author-pic {
    width: 80px;
    height: 80px;
    align-self: center;
    margin: 0 30px;
    justify-content: stretch;
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  .reviews__author-pic {
    width: 249px;
    height: 160px;
    margin: 0;
    padding: 0;
  }
}
.reviews__author-image {
  max-width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  .reviews__author-image {
    max-width: 100%;
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .reviews__author-image {
    width: 249px;
    height: 160px;
  }
}
.reviews__author-name {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}
@media (min-width: 768px) {
  .reviews__author-name {
    display: inline-block;
    padding-top: 31px;
  }
}
.reviews__author-info {
  margin-left: 30px;
}
@media (min-width: 768px) {
  .reviews__author-info {
    display: inline-block;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .reviews__author-info {
    margin-left: 71px;
  }
}
.reviews__text {
  margin: 0;
  padding: 12px 0 28px 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
}
@media (min-width: 768px) {
  .reviews__text {
    padding: 0;
    padding-top: 15px;
  }
}
@media (min-width: 768px) {
  .reviews__button-wrapper {
    padding: 72px 16px 72px 15px;
    border: 1px solid #E5DDD5;
  }
}
.reviews__prev {
  display: none;
}
@media (min-width: 768px) {
  .reviews__prev {
    display: block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: none;
  }
}
.reviews__next {
  display: none;
}
@media (min-width: 768px) {
  .reviews__next {
    display: block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: none;
  }
}
.slider__item {
  display: none;
}
.slider__item--active {
  display: block;
}
@media (min-width: 768px) {
  .slider__item {
    display: block;
    position: relative;
  }
}
.slider__toggles {
  margin: 0 auto;
  padding: 0 0 46px 0;
  text-align: center;
  width: 76px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
@media (min-width: 768px) {
  .slider__toggles {
    padding: 20px 10px;
    width: 123px;
    position: relative;
    top: -24px;
    background-color: #F8F5F2;
    justify-content: space-around;
  }
}
.slider__toggle {
  display: block;
  width: 1px;
  height: 1px;
  position: relative;
  color: transparent;
  background-color: transparent;
  border: none;
  margin: -1px;
  border: 0;
  padding: 0;
}
.slider__toggle::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  background-color: #F8F5F2;
  border: 1px solid #000;
}
.slider__toggle--current::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  background-color: #000;
}
.slider__toggles-adv {
  margin: 0 auto;
  padding: 0 0 46px 0;
  text-align: center;
  width: 76px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
@media (min-width: 768px) {
  .slider__toggles-adv {
    display: none;
  }
}
.slider__toggle-adv {
  display: block;
  width: 1px;
  height: 1px;
  position: relative;
  color: transparent;
  background-color: transparent;
  border: none;
  margin: -1px;
  border: 0;
  padding: 0;
}
.slider__toggle-adv::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  background-color: #000;
  border: 1px solid #FFFFFF;
}
.slider__toggle-adv--current::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}
.slider__item-adv {
  display: none;
}
.slider__item-adv--active {
  display: block;
}
@media (min-width: 768px) {
  .slider__item-adv {
    display: block;
  }
}
.page-footer {
  background-color: #292929;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 640px;
    margin: 0 auto;
    padding: 51px 64px 69px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    width: 960px;
    padding: 51px 120px 55px 120px ;
  }
}
.page-footer__contacts {
  padding: 33px 20px 0 20px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    padding: 0;
    padding-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .page-footer__contacts {
    padding: 0;
  }
}
.page-footer__social {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-footer__social {
    order: 3;
    margin: 0;
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .page-footer__social {
    order: 2;
    width: 150px;
    margin-left: 90px;
    margin-right: 245px;
  }
}
.page-footer__copyright {
  display: flex;
  flex-direction: column;
  padding: 31px 20px 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    position: relative;
    order: 2;
    align-self: flex-start;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer__copyright {
    order: 3;
  }
}
.contacts__title {
  padding: 0px 0 13px 0;
  margin: 0;
  font-weight: bold;
}
@media (min-width: 768px) {
  .contacts__title {
    padding: 0 0 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;
  }
}
.contacts__text {
  margin: 0;
  padding-bottom: 17px;
}
@media (min-width: 768px) {
  .contacts__text {
    text-align: left;
    padding: 0;
  }
}
.contacts__phone {
  display: block;
  margin-top: 17px;
  padding: 12px 0;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
@media (min-width: 768px) {
  .contacts__phone {
    padding: 0;
    margin: 0;
    border: none;
  }
}
.contacts__phone-mobile {
  display: none;
}
@media (min-width: 768px) {
  .contacts__phone-mobile {
    display: inline-block;
  }
}
.social__list {
  display: flex;
  border: 0.5px solid #4a4a4a;
}
.social__link {
  display: block;
  width: auto;
  align-self: center;
  color: #FFFFFF;
  border-right: 0.5px solid #4a4a4a;
}
.social__link--vk {
  padding: 38px 40px;
}
.social__link--fb {
  padding: 31px 41px;
}
.social__link--insta {
  padding: 33px 34px;
  border-right: none;
}
@media (min-width: 768px) {
  .social__link--vk {
    padding: 38px 94px;
  }
  .social__link--fb {
    padding: 31px 97px;
  }
  .social__link--insta {
    padding: 33px 88px;
  }
}
@media (min-width: 1200px) {
  .social__link--vk {
    padding: 14px 17px;
  }
  .social__link--fb {
    padding: 12px 19px;
  }
  .social__link--fb:hover {
    border-left: 0.5px solid #777777;
  }
  .social__link--insta {
    padding: 13px 15px;
  }
  .social__link--insta:hover {
    border-right: none;
    border-left: 0.5px solid #777777;
  }
  .social__link:hover {
    border: 0.5px solid #777777;
  }
  .social__link:active {
    fill-opacity: 30%;
  }
}
@media (min-width: 1200px) {
  .social__icon--vk {
    width: 15px;
    height: 17px;
  }
  .social__icon--fb {
    width: 10px;
    height: 21px;
  }
  .social__icon--insta {
    width: 19px;
    height: 19px;
  }
}
.social__title {
  display: none;
}
@media (min-width: 1200px) {
  .social__title {
    display: block;
    margin-top: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }
}
.copyright__link {
  display: block;
  padding: 12px 0px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  border: 0.5px solid #4a4a4a;
}
.copyright__link:hover {
  border: 1px solid #777777;
}
.copyright__link:active {
  border: 0;
  opacity: 30%;
}
@media (min-width: 768px) {
  .copyright__link {
    padding: 12px 26px;
  }
}
.copyright__text {
  margin: 0;
  padding-bottom: 13px;
}
.button {
  display: block;
  padding: 13px 0;
  border: 1px solid #E5DDD5;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.button--hide {
  display: none;
}
@media (min-width: 768px) {
  .button--hide {
    display: block;
    padding: 12px 25px;
    align-self: center;
  }
}
@media (min-width: 768px) {
  .button--news {
    position: absolute;
    display: block;
    top: 43px;
    right: 21px;
    padding: 12px 30px;
  }
}
.button:hover {
  border: 1px solid #D5C9BD;
}
.button:active {
  background: #D5C9BD;
  color: rgba(0, 0, 0, 0.3);
}
.slider-review__item {
  display: none;
}
.slider-review__item--active {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page__body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
